<h2 mat-dialog-title>Add new user</h2>
<mat-dialog-content>
  <p class="mt-16">
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>Enter your first name</mat-label>
      <input matInput placeholder="First name" />
    </mat-form-field>
    <!-- </p>
  <p> -->
    <mat-form-field appearance="outline">
      <mat-label>Enter your last name</mat-label>
      <input matInput placeholder="Last name" />
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button cdkFocusInitial>Save</button>
</mat-dialog-actions>
