.user-details-card {
    background: #ff9300;
    height: 250px;
    border-radius: 10px;

    mat-card-content {
        height: 100%;
        > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #ffff;
            line-height: 40px;
            font-family: system-ui;
            margin-top: 42px;
            .name {
                font-size: 32px;
                font-weight: 500;
            }
            .email,
            .birthday {
                font-size: 24px;
                font-weight: 300;
            }
        }
    }
}

.user-address-card {
    margin-top: -32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 170px;
    border: 1px solid #ff9300;
    mat-card-content {
        line-height: 32px;
        font-size: 24px;
        font-weight: 300;
    }
}

.options-button {
    position: absolute;
    right: 12px;
    top: 12px;
}

.delete-button {
    position: fixed;
    right: 48px;
    bottom: 48px;
}
