<button mat-icon-button aria-label="arrow back button" [routerLink]="['/user']">
  <mat-icon>arrow_back</mat-icon>
</button>

<mat-card class="user-details-card">
  <button
    mat-icon-button
    aria-label="more options button"
    matTooltip="Edit name"
    class="options-button"
    [matMenuTriggerFor]="menu1"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item (click)="editNameCard()">Edit</button>
  </mat-menu>
  <mat-card-content>
    <div class="pl-42">
      <h2 class="name">
        {{ currentUser?.[0]?.firstName }} {{ currentUser?.[0]?.lastName }}
      </h2>
      <span class="email"> {{ currentUser?.[0]?.email }}</span>
      <span class="birthday">
        {{ formatDate(currentUser?.[0]?.birthDate) }}</span
      >
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="user-address-card pl-42">
  <button
    class="options-button"
    mat-icon-button
    matTooltip="Edit address"
    aria-label="more options button"
    [matMenuTriggerFor]="menu2"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="editAddressCard()">Edit</button>
  </mat-menu>
  <mat-card-header>
    <mat-card-title> Address </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-24">
    {{ currentUser?.[0]?.street }} {{ currentUser?.[0]?.houseNumber }}
    <br />
    {{ currentUser?.[0]?.zipCode }} {{ currentUser?.[0]?.city }}
  </mat-card-content>
</mat-card>

<!-- ******************************************************* -->
<mat-card class="user-followUp-card pl-42">
  <mat-card-header>
    <mat-card-title> Follow ups </mat-card-title>
    <button
      mat-icon-button
      color="primary"
      aria-label="add icon"
      matTooltip="Add new Follow up"
      [matTooltipPosition]="'above'"
      (click)="addNewFollowUp()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="hasFollowUps; else noFollowUps">
      <mat-card
        *ngFor="let followUp of followUps; let index = index"
        class="follow-up-card mt-24 gap-24"
      >
        <button
          class="options-button"
          mat-icon-button
          aria-label="more options button"
          [matMenuTriggerFor]="menu2"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="editFollowUpCard(index)">Edit</button>
        </mat-menu>
        <mat-card-header>
          <mat-card-title>{{ followUp.category }}</mat-card-title>
          <mat-card-subtitle>{{ followUp.action }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ followUp.description }}</p>
          <p>Created: {{ formatDate(followUp.createdAt) }}</p>
          <p>Deadline: {{ formatDate(followUp.deadline) }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #noFollowUps>
      <p class="no-followups-text">No follow-ups available for this user.</p>
    </ng-template>
  </mat-card-content>
</mat-card>

<button
  (click)="deleteUser()"
  mat-fab
  color="primary"
  aria-label="delete icon"
  matTooltip="Delete this User"
  [matTooltipPosition]="'above'"
  class="delete-button"
>
  <mat-icon>delete</mat-icon>
</button>
