.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.3rem;
    font-family: system-ui;
    border-radius: 5px;

    mat-card {
        display: grid;
        grid-template-rows: auto 100px 1fr;
        height: 100%;
        border: 2px solid #e7e5e5;

        .property-status {
            height: 8vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 300;
            align-items: center;
            padding-left: 16px;
            background: #ffe4b4;
            border-bottom: 2px solid white;
            color: #7f7575;
        }

        .status-available {
            background: #c1e3c1;
        }

        .status-reserved {
            background: #ffe4b4;
        }

        .status-sold {
            background: #ffa7a7;
        }

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            margin: 15px 0;
        }

        .mat-mdc-card-header {
            border-top: 0.5px solid #ffffff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: -8px;
            background: white;
        }

        mat-card-content {
            display: grid;
            grid-template-rows: 1fr auto;

            span {
                font-weight: 500;
                font-size: 16px;
            }

            .price {
                color: #969696;
                font-size: 24px;
                text-align: end;
            }

            .property-details {
                display: grid;
                grid-template-rows: repeat(8, minmax(24px, 1fr));
            }

            .owner-details {
                display: grid;
                grid-template-rows: repeat(auto-fill, minmax(24px, 1fr));
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        &:hover {
            border: 2px solid white;
            border-radius: 5px;
        }
    }

    .add-button {
        position: fixed;
        right: 48px;
        bottom: 48px;
    }

    .property-image-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .nav-arrow {
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 255, 0.7);

        &.left {
            left: 8px;
        }

        &.right {
            right: 8px;
        }
    }
}
