<h1>Properties List</h1>

<div class="container">
  <mat-card *ngFor="let property of properties">
    <div
      class="property-status"
      [ngClass]="{
        'status-available': property.status === 'Available',
        'status-reserved': property.status === 'Reserved',
        'status-sold': property.status === 'Sold'
      }"
    >
      {{ property.status }}
      <button
        mat-icon-button
        aria-label="more options button"
        matTooltip="Change property status"
        class="options-button"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeStatus('Reserved', property)">
          Mark as reserved
        </button>
        <button mat-menu-item (click)="changeStatus('Sold', property)">
          Mark as sold
        </button>
        <button mat-menu-item (click)="changeStatus('Available', property)">
          Mark as available
        </button>
      </mat-menu>
    </div>

    <mat-card-header>
      <mat-card-title>{{ property.type }}</mat-card-title>
      <mat-card-subtitle>{{ property.streetNumber }}</mat-card-subtitle>
      <mat-card-subtitle>{{ property.zipCity }}</mat-card-subtitle>
    </mat-card-header>

    <div class="property-image-container">
      <button
        mat-icon-button
        class="nav-arrow left"
        (click)="previousImage(property)"
        *ngIf="property.imageUrls?.length > 1"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <img
        mat-card-image
        [src]="
          property.imageUrls && property.imageUrls.length > 0
            ? property.imageUrls[currentImageIndices[property.id] || 0]
            : '/assets/no-image.png'
        "
        alt="{{ property.type }}"
      />

      <button
        mat-icon-button
        class="nav-arrow right"
        (click)="nextImage(property)"
        *ngIf="property.imageUrls?.length > 1"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <mat-card-content>
      <div class="property-details">
        <p class="price">{{ formatPrice(property.price) }}</p>
        <p>
          <span>Square meter price:</span>
          {{ formatPrice(property.sqmPrice) }}
        </p>
        <p><span>Year Built:</span> {{ property.yearbuilt }}</p>
        <p><span>Living Space:</span> {{ property.livingSpace }} m²</p>
        <p *ngIf="property.landArea">
          <span>Land Area:</span> {{ property.landArea }} m²
        </p>
        <p><span>Parking:</span> {{ property.parking }}</p>
        <p><span>Available From:</span> {{ formatDate(property.available) }}</p>
      </div>

      <div class="owner-details">
        <p><span>Owner:</span> {{ property.owner }}</p>
        <p><span>Phone:</span> {{ property.ownerPhone }}</p>
        <p>
          <span>Email: </span>
          <a [href]="'mailto:' + property.ownerMail">{{
            property.ownerMail
          }}</a>
        </p>
        <p><span>Address:</span> {{ property.ownerAdress }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <button
    class="add-button"
    mat-fab
    matTooltip="Add a new property"
    [matTooltipPosition]="'above'"
    color="primary"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
