<div id="login-container" [class.d-none]="showSignUp">
  <div class="header-container">
    <div class="logo-container">
      <img class="logo-animation" src="/assets/img/logo.png" alt="logo" />
      <h1>DomusSync</h1>
    </div>

    <div class="action-container" (click)="toggleLoginSignUp()">
      Not a member yet?
      <button mat-raised-button color="primary">Sign up here!</button>
    </div>
  </div>
  <app-log-in ngSkipHydration></app-log-in>
  <div class="guest-container">
    <span>Don’t have an account?</span>
    <button (click)="guestLogIn()">Log in as a guest!</button>
  </div>
</div>

<div id="signup-container" [class.d-none]="!showSignUp">
  <div class="header-container">
    <img class="logo-animation" src="/assets/img/logo.png" alt="logo" />
    <div class="action-container" (click)="toggleLoginSignUp()">
      Already a member?
      <button mat-raised-button color="primary">Log in here!</button>
    </div>
  </div>
  <app-sign-in ngSkipHydration></app-sign-in>
</div>

<footer class="footer-container">
  <a href="/assets/imprint.html" target="_blank"
    >Imprint
    <mat-icon
      aria-hidden="false"
      aria-label="open_in_new"
      fontIcon="open_in_new"
    ></mat-icon
  ></a>
</footer>
