<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="" />
    </div>
    <ul>
      <li [routerLink]="['']" routerLinkActive="active-link">
        <mat-icon>grid_view</mat-icon>
        Dashboard
      </li>
      <li [routerLink]="['user']" routerLinkActive="active-link">
        <mat-icon>person_outlined</mat-icon> Clients
      </li>
      <li [routerLink]="['followUp']" routerLinkActive="active-link">
        <mat-icon>pending_actions</mat-icon> Follow up
      </li>
      <li [routerLink]="['properties']" routerLinkActive="active-link">
        <mat-icon>real_estate_agent</mat-icon> Properties
      </li>
    </ul>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon
          class="menu-icon"
          fontIcon="menu"
          (click)="drawer.toggle()"
        ></mat-icon>
        <h1>Simple CRM</h1>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="router-container max-width-1100">
    <router-outlet />
  </div>
</mat-drawer-container>
