.add-button {
    position: absolute;
    right: 64px;
    bottom: 48px;
}

table {
    width: 100%;
    border-collapse: collapse;
    th {
        font-weight: 500;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
    }
    tr {
        text-align: left;
        height: 60px;
        cursor: pointer;
        &:last-child > td {
            border-bottom: 0;
        }
    }
}

.border-btm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
