<mat-card>
  <mat-card-content>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-Mail</th>
        <th>City</th>
        <th>Birth Date</th>
      </tr>
      <tr>
        <td>Amalia</td>
        <td>Konsta</td>
        <td>ama'6'gmx.de</td>
        <td>luhafen</td>
        <td>30.05.05</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  class="add-button"
  mat-fab
  matTooltip="Add a new user"
  [matTooltipPosition]="'above'"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
