<mat-card>
  <mat-card-content>
    <table class="responsive-table">
      <thead>
        <tr>
          <th class="border-btm width-15">First Name</th>
          <th class="border-btm width-15">Last Name</th>
          <th class="border-btm">Birth Date</th>
          <th class="border-btm width-25">E-Mail</th>
          <th class="border-btm">City</th>
          <th class="border-btm"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers$" [routerLink]="['/user/' + user.id]">
          <td class="border-btm width-15">{{ user.firstName }}</td>
          <td class="border-btm width-15">{{ user.lastName }}</td>
          <td class="border-btm">{{ user.birthDate }}</td>
          <td class="border-btm">{{ user.email }}</td>
          <td class="border-btm">{{ user.city }}</td>
          <td class="border-btm">
            <button mat-icon-button aria-label="edit">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<button
  class="add-button"
  mat-fab
  matTooltip="Add a new user"
  [matTooltipPosition]="'above'"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
