<h2>Follow up</h2>

<mat-tab-group>
  <mat-tab label="Follow Up">
    <div *ngIf="followUpCategory.length != 0">
      <div *ngFor="let task of followUpCategory; let index = index">
        <div class="task-card">
          <div class="task-card-title">
            <div class="title-follow-up">
              <span class="task-description">{{ task.category }}:</span>
              {{ task.action }}
            </div>
            <div class="task-deadline">
              Deadline: {{ formatDate(task.deadline) }}
            </div>
          </div>
          <div class="task-customer">
            {{ task.userData.firstName }} {{ task.userData.lastName }}
            <!-- with click to open dialog with customer details. -->
          </div>
          <div class="task-card-content">
            {{ task.description }}
          </div>
          <div class="task-card-created">
            Created: {{ formatDate(task.createdAt) }}
          </div>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <h3 class="status">Closed</h3>
  </mat-tab>

  <!-- ***************** -->
  <mat-tab label="Lead Nurturing">
    <div *ngIf="leadNurturingCategory.length != 0">
      <div *ngFor="let task of leadNurturingCategory; let index = index">
        <div class="task-card">
          <div class="task-card-title">
            <div class="title-lead-nurturing">
              <span class="task-description">{{ task.category }}: </span>
              <span>{{ task.action }}</span>
            </div>
            <div class="task-deadline">
              Deadline: {{ formatDate(task.deadline) }}
            </div>
          </div>
          <div class="task-customer">
            {{ task.userData.firstName }} {{ task.userData.lastName }}
            <!-- with click to open dialog with customer details. -->
          </div>
          <div class="task-card-content">
            {{ task.description }}
          </div>
          <div class="task-card-created">
            Created: {{ formatDate(task.createdAt) }}
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- ***************** -->
  <mat-tab label="After Sales">
    <div *ngIf="afterSalesCategory.length != 0">
      <div *ngFor="let task of afterSalesCategory; let index = index">
        <div class="task-card">
          <div class="task-card-title">
            <div class="title-after-sales">
              <span class="task-description">{{ task.category }}:</span>
              {{ task.action }}
            </div>
            <div class="task-deadline">
              Deadline: {{ formatDate(task.deadline) }}
            </div>
          </div>
          <div class="task-customer">
            {{ task.userData.firstName }} {{ task.userData.lastName }}
            <!-- with click to open dialog with customer details. -->
          </div>
          <div class="task-card-content">
            {{ task.description }}
          </div>
          <div class="task-card-created">
            Created: {{ formatDate(task.createdAt) }}
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
