<h2>Follow up</h2>

<mat-tab-group>
  <mat-tab label="Follow-up">
    <div class="task-card">
      <div class="task-card-title">
        <div class="title-follow-up">
          <span class="task-description">Follow up:</span> After Property
          viewing
        </div>
        <div class="task-deadline">Deadline: 08.10.2024</div>
      </div>
      <div class="task-customer">
        Name of Customer
        <!-- with click to open dialog with customer details. -->
      </div>
      <div class="task-card-content">
        Following up with potential buyer to assess his interest and arrange the
        next step.
      </div>
      <div class="task-card-created">Created: 02.10.2024</div>
    </div>
    <div class="task-card">
      <div class="task-card-title">
        <div class="title-follow-up">
          <span class="task-description">Follow up:</span> After Property
          viewing
        </div>
        <div class="task-deadline">Deadline: 08.10.2024</div>
      </div>
      <div class="task-customer">
        Name of Customer
        <!-- with click to open dialog with customer details. -->
      </div>
      <div class="task-card-content">Send Mrs. Smith the property report.</div>
      <div class="task-card-created">Created: 02.10.2024</div>
    </div>
    <div class="task-card">
      <div class="task-card-title">
        <div class="title-follow-up">
          <span class="task-description">Follow up:</span> Before Property
          viewing
        </div>
        <div class="task-deadline">Deadline: 08.10.2024</div>
      </div>
      <div class="task-customer">
        Name of Customer
        <!-- with click to open dialog with customer details. -->
      </div>
      <div class="task-card-content">
        Call Mr. Meyer to confirm the appointment for the property viewing.
      </div>
      <div class="task-card-created">Created: 02.10.2024</div>
    </div>
  </mat-tab>
  <!-- ***************** -->
  <mat-tab label="Lead Nurturing">
    <div class="task-card">
      <div class="task-card-title">
        <div class="title-lead-nurturing">
          <span class="task-description">Lead Nurturing:</span> Call
        </div>
        <div class="task-deadline">Deadline: 08.10.2024</div>
      </div>
      <div class="task-customer">
        Name of Customer
        <!-- with click to open dialog with customer details. -->
      </div>
      <div class="task-card-content">
        Call Ms. Schmitt to confirm if she is still interested in purchasing a
        property. If so, please offer suitable properties.
      </div>
      <div class="task-card-created">Created: 02.10.2024</div>
    </div>
  </mat-tab>
  <!-- ***************** -->
  <mat-tab label="After-Sale Follow-up">
    <div class="task-card">
      <div class="task-card-title">
        <div class="title-after-sales">
          <span class="task-description">After-Sales Follow up:</span> Call
        </div>
        <div class="task-deadline">Deadline: 08.10.2024</div>
      </div>
      <div class="task-customer">
        Name of Customer
        <!-- with click to open dialog with customer details. -->
      </div>
      <div class="task-card-content">
        Call Ms. Schmitt to gratulate for her new home and to ask if she is
        satisfied with our service. If so, ask for recoommendations.
      </div>
      <div class="task-card-created">Created: 02.10.2024</div>
    </div>
  </mat-tab>
</mat-tab-group>
