<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-dialog-content>
  <h2>Edit Follow Up</h2>

  <div>
    <mat-form-field class="mr-16 full-width" appearance="outline">
      <mat-label>Action</mat-label>
      <mat-select
        [(ngModel)]="currentFollowUp.action"
        [(ngModel)]="currentFollowUp.action"
      >
        @for (action of actions; track action) {
        <mat-option [value]="action.value">{{ action.value }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr-16 full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        [disabled]="loading"
        [(ngModel)]="currentFollowUp.description"
        matInput
        placeholder="New description"
      ></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr-16 full-width" appearance="outline">
      <mat-label>Deadline</mat-label>
      <input
        [min]="minDate"
        [disabled]="loading"
        matInput
        [matDatepicker]="picker"
        placeholder="New deadline"
        [(ngModel)]="currentFollowUp.deadline"
        [value]="formatDate(currentFollowUp.deadline)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="mb-16"
    mat-raised-button
    [disabled]="loading"
    (click)="closeDialog()"
  >
    Cancel
  </button>
  <button
    class="mb-16"
    mat-raised-button
    [disabled]="loading"
    color="primary"
    (click)="saveEdit()"
  >
    Save
  </button>
</mat-dialog-actions>
